<% title "Skift kodeord" %>

<h1>Skift kodeord</h1>

<% form_tag(change_password_path) do %>

<div class="form">
<div class="formfield">
  <%= label_tag :new_password, "Nyt kodeord" %>
  <%= password_field_tag :new_password %>
</div>

<div class="formfield">
  <%= label_tag :new_password_confirmation, "Nyt kodeord (igen)" %>
  <%= password_field_tag :new_password_confirmation %>
</div>

<div class="formsubmit">
  <span><%= submit_tag "Skift kodeord" %></span>
  <span class="formcancel"><%= link_to 'Annuller', @person %></span>
</div>
</div>

<% end %>