<h1>Skift password</h1>

<% form_tag(change_password_path) do %>
<div class="block">
  <%= label_tag :new_password, "Nyt Password" %>
  <%= password_field_tag :new_password %>
</div>

<div class="block">
  <%= label_tag :new_password_confirmation, "Nyt Password (igen)" %>
  <%= password_field_tag :new_password_confirmation %>
</div>

<ul class="button-panel">
  <li class="first"><%= submit_tag "Skift password" %></li>
  <li><%= link_to 'Tilbage', edit_person_path(@person) %></li>
</ul>
<% end %>
