<h1>Ret personlige oplysninger</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

<div class="personform">
  <div>
    <%= f.label :name, "Navn" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone, "Telefon" %><br />
    <%= f.text_field :phone %>
  </div>
</div>
<div class="formsubmit">
    <span><%= f.submit "Opdater" %></span>
	<span class="formcancel"><%= link_to "Annuller", @person %></span>
</div>

<% end %>