<% title "Log ind" %>

<h1>Log ind</h1>

<% form_tag(login_url) do %>

<div class="form">
  <div class="formfield">
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="formfield">
    <%= label_tag :password, "Kodeord" %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div class="formsubmit">
    <span><%= submit_tag "Log ind" %></span>
    <span>(<%= link_to "Jeg har glemt mit kodeord", forgot_password_path %>)</span>
  </div>
</div>

<% end %>
