<h1>Opret konto</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

<div class="personform">
  <div>
    <%= f.label :name, "Navn" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone, "Telefon" %><br />
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :new_password, "Kodeord" %>
    <%= f.password_field :new_password %>
  </div>
  <div>
    <%= f.label :new_password_confirmation, "Kodeord (igen)" %>
    <%= f.password_field :new_password_confirmation %>
  </div>
</div>
<div class="formsubmit">
    <span><%= f.submit "Opret" %></span>
	<span class="formcancel"><%= link_to "Annuller", places_path %></span>
</div>

<% end %>