<% title "Opret konto" %>

<h1>Opret konto</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

<div class="form">
  <div class="formfield">
    <%= f.label :name, "Navn" %>
    <%= f.text_field :name %>
  </div>
  <div class="formfield">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="formfield">
    <%= f.label :phone, "Telefon" %>
    <%= f.text_field :phone %>
  </div>
  <div class="formfield">
    <%= f.label :new_password, "Kodeord" %>
    <%= f.password_field :new_password %>
  </div>
  <div class="formfield">
    <%= f.label :new_password_confirmation, "Kodeord (igen)" %>
    <%= f.password_field :new_password_confirmation %>
  </div>
</div>
  <div class="formsubmit">
    <span><%= f.submit "Opret" %></span>
	  <span class="formcancel"><%= link_to "Annuller", places_path %></span>
  </div>

<% end %>