<% title @person.name %>

<h1><%=h @person.name %></h1>

<h2><%=h @person.name %>s info</h2>
<ul class="personinfo">
	<%- unless @person.email.blank? -%>
		<li class="email"><span class="field">Email</span>: <span class="value"><%=h @person.email %></span></li>
	<%- end -%>
	<%- unless @person.phone.blank? -%>
		<li class="phone"><span class="field">Telefon</span>: <span class="value"><%=h @person.phone %></span></li>
	<%- end -%>
</ul>

<%- unless @person.places.blank? -%>
<h2><%=h @person.name %> er tilknyttet følgende steder</h2>
<ul class="employedpeople">
<% @person.places.each do |place| %>
  <li><%= link_to place.name, place %></li>
<% end %>
</ul>
<%- end -%>

<div class="updated">Siden blev sidst ændret for <%= time_ago_in_words @person.updated_at %> siden</div>

