<h1><%=h @person.name %></h1>

<ul class="personinfo">
	<%- unless @person.email.blank? -%>
		<li class="email"><%=h @person.email %></li>
	<%- end -%>
	<%- unless @person.phone.blank? -%>
		<li class="phone"><%=h @person.phone %></li>
	<%- end -%>
</ul>

<%- if person_logged_in? -%>
<ul class="edit">
	<li><%= link_to 'Ret personlige oplysninger', edit_person_path(@person) %></li>
	<li><%= link_to "Ændre kodeord", change_password_path %></li>
	<li><%= link_to 'Slet konto', @person, :confirm => "Er du sikker på at du vil slette #{@person.name}?", :method => :delete %></li>
</ul>
<%- end -%>