<% title "Opret nyt spillested" %>

<h1>Opret nyt spillested</h1>

<% form_for(@place) do |f| %>
  <%= f.error_messages %>

<div class="form">
  <div>
    <%= f.label :name, "Navn" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Beskrivelse" %>
    <%= f.text_area :description %>
  </div>
</div>
<div class="form">
  <div>
    <%= f.label :street_address, "Adresse 1" %>
    <%= f.text_field :street_address %>
  </div>
  <div>
    <%= f.label :extended_address, "Adresse 2" %>
    <%= f.text_field :extended_address %>
  </div>
  <div>
    <%= f.label :zip, "Postnr." %>
    <%= f.text_field :zip %>
  </div>
  <div>
    <%= f.label :city, "By" %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :phone, "Telefon" %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :web_address, "Web adresse" %>
    <%= f.text_field :web_address %>
  </div>
</div>
<div class="form">
  <div>
    <%= f.label :pa_system, "PA system" %>
    <%= f.text_field :pa_system %>
  </div>
  <div>
    <%= f.label :mixer, "Mixer" %>
    <%= f.text_field :mixer %>
  </div>
  <div>
    <%= f.label :monitor_system, "Monitor system" %>
    <%= f.text_field :monitor_system %>
  </div>
  <div>
    <%= f.label :monitor_mixer, "Monitor mixer" %>
    <%= f.text_field :monitor_mixer %>
  </div>
  <div>
    <%= f.label :outboard, "Outboard" %>
    <%= f.text_area :outboard %>
  </div>
</div>
<div class="formsubmit">
    <span><%= f.submit "Opret" %></span>
	<span class="formcancel"><%= link_to "Annuller", places_path %></span>
</div>

<% end %>