<p>
  <b>Name:</b>
  <%=h @place.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @place.description %>
</p>

<p>
  <b>Street_address:</b>
  <%=h @place.street_address %>
</p>

<p>
  <b>Extended_address:</b>
  <%=h @place.extended_address %>
</p>

<p>
  <b>Email:</b>
  <%=h @place.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @place.phone %>
</p>

<p>
  <b>Zip:</b>
  <%=h @place.zip %>
</p>

<p>
  <b>City:</b>
  <%=h @place.city %>
</p>

<p>
  <b>Web_address:</b>
  <%=h @place.web_address %>
</p>

<p>
  <b>Mixer:</b>
  <%=h @place.mixer %>
</p>

<p>
  <b>Pa system:</b>
  <%=h @place.pa_system %>
</p>

<p>
  <b>Monitor system:</b>
  <%=h @place.monitor_system %>
</p>

<p>
  <b>Monitor mixer:</b>
  <%=h @place.monitor_mixer %>
</p>

<p>
  <b>Outboard:</b>
  <%=h @place.outboard %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
