<% title @place.name %>

<h1><%=h @place.name %></h1>

<%- unless @place.street_address.blank? and @place.extended_address.blank? and @place.zip.blank? and @place.city.blank? and @place.phone.blank? and @place.email.blank? and @place.web_address.blank? -%>
<address>
<ul class="address">
	<%- unless @place.street_address.blank? -%>
		<li><%=h @place.street_address %></li>
	<%- end -%>
	<%- unless @place.extended_address.blank? -%>
		<li><%=h @place.extended_address %></li>
	<%- end -%>
	<%- unless @place.zip.blank? -%>
		<li class="zip"><%=h @place.zip %></li>
	<%- end -%>
	<%- unless @place.city.blank? -%>
		<li><%=h @place.city %></li>
	<%- end -%>
	<%- unless @place.phone.blank? -%>
		<li><%=h @place.phone %></li>
	<%- end -%>
	<%- unless @place.email.blank? -%>
		<li><%=h @place.email %></li>
	<%- end -%>
	<%- unless @place.web_address.blank? -%>
		<li><%= link_to @place.web_address, @place.web_address %></li>
	<%- end -%>
</ul>
</address>
<%- end -%>

<%- unless @place.description.blank? -%>
<h2>Beskrivelse</h2>
	<div class="description"><%=h @place.description %></div>
<%- end -%>

<%- unless @place.pa_system.blank? and @place.mixer.blank? and @place.monitor_system.blank? and @place.monitor_mixer.blank? and @place.outboard.blank? -%>
<h2>Teknisk info</h2>
<ul class="techinfo">
	<%- unless @place.pa_system.blank? -%>
  	<li class="pasystem"><span class="field">PA system</span>: <span class="value"><%=h @place.pa_system %></span></li>
	<%- end -%>
	<%- unless @place.mixer.blank? -%>
	<li class="mixer"><span class="field">Mixer</span>: <span class="value"><%=h @place.mixer %></span></li>
	<%- end -%>
	<%- unless @place.monitor_system.blank? -%>
  	<li class="monsystem"><span class="field">Monitor system</span>: <span class="value"><%=h @place.monitor_system %></span></li>
	<%- end -%>
	<%- unless @place.monitor_mixer.blank? -%>
  	<li class="monmixer"><span class="field">Monitor mixer</span>: <span class="value"><%=h @place.monitor_mixer %></span></li>
	<%- end -%>
	<%- unless @place.outboard.blank? -%>
  	<li class="outboard"><span class="field">Outboard</span>: <span class="value"><%=h @place.outboard %></span></li>
	<%- end -%>
	<%- unless @place.effects.blank? -%>
  	<li class="effects"><span class="field">Effekter</span>: <span class="value"><%=h @place.effects %></span></li>
	<%- end -%>
</ul>
<%- end -%>

<%- unless @place.people.blank? -%>
<h2>Tilknyttede personer</h2>
<ul class="employedpeople">
<% @place.people.each do |person| %>
  <li><%= link_to person.name, person %>
  <%- if employed?(@place) && person == current_person -%>
  (<%= link_to('Fjern mig', unemploy_place_path(@place), :confirm => "Er du sikker på at du vil slette tilknytningen?", :method => :delete) %>)
  <%- end -%>
  </li>
<%- end -%>
</ul>
<%- end -%>

<h2>Funktioner</h2>
<ul class="edit">
  <li><%= link_to 'Ret oplysninger', edit_place_path(@place) %></li>
  <li><%= link_to 'Slet spillested', @place, :confirm => "Er du sikker på at du vil slette #{@place.name}?", :method => :delete %></li>
  <%- if person_logged_in? && !employed?(@place) -%>
  <li><%= link_to 'Tilknyt mig til dette spillested', employ_place_path(@place), :method => :post %></li>
  <%- end -%>
</ul>

<div class="updated">Siden blev opdateret for <%= time_ago_in_words @place.updated_at %> siden</div>