<% title "Min konto" %>

<h1>Min konto</h1>

<h2>Ret personlige oplysninger</h2>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

<div class="form">
  <div class="formfield">
    <%= f.label :name, "Navn" %>
    <%= f.text_field :name %>
  </div>
  <div class="formfield">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="formfield">
    <%= f.label :phone, "Telefon" %>
    <%= f.text_field :phone %>
  </div>
</div>
<div class="formsubmit">
  <span><%= f.submit "Opdater" %></span>
  <span class="formcancel"><%= link_to "Annuller", @person %></span>
</div>
<%- end -%>

<h2>Funktioner</h2>
<ul class="edit">
  <li><%= link_to "Ændre kodeord", change_password_account_path %></li>
  <li><%= link_to 'Slet konto', account_path, :confirm => "Er du sikker på at du vil slette #{@person.name}?", :method => :delete %></li>
</ul>
